body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.about-us {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
    color: black;
    margin-bottom: 20px;
}

.description p {
    font-size: 1.2em;
    color: #0c0000;
    margin: 10px 0;
    line-height: 1.6;
}

.profile-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.profile {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;
    cursor: pointer;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.profile h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 5px;
}

.profile p {
    font-size: 1.1em;
    color: #777;
}

.more-info {
    display: none;
    font-size: 1em;
    color: #555;
    margin-top: 10px;
}

.profile.open .more-info {
    display: block;
}

.profile.open {
    background-color: #f0f0f0;
}

/* Responsive */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile {
        width: 80%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.5em;
    }

    .profile {
        width: 100%;
        padding: 15px;
    }

    .profile img {
        width: 80px;
        height: 80px;
    }

    .profile h3 {
        font-size: 1.2em;
    }

    .profile p {
        font-size: 1em;
    }
}
